/* .selectDropDown {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
} */


.dropdown {
  padding: 10px 20px;
  font-size: 16px;
  border: 1 solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  background-color: #a9a9a9;
  color: black bold;

}