.headerContainer {
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}



/* .logoutButton {
    float: right;
} */

.logoLeft {
    color: rgb(245, 245, 97);

}