body {
    min-height: 100vh;
    width: 100%;

}

.candidatesPage {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/bay.jpg');
    /* Postavite putanju do vaše slike */
    background-size: cover;
    /* Prilagodite veličinu slike prema potrebama */
    background-position: center;
    z-index: -1;
}

.candidateCard:hover {
    transform: scale(1.1);
}

.allCandidatesCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
    min-height: calc(100vh - 20px);

}

.candidateCard {
    height: 450px;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(245, 245, 97);
    padding-top: 50px;
    margin: 60px;

}

.candidateName {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.candidateImage {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;

}

.createButton {
    width: 70px;
    height: 40px;
    background-color: rgb(245, 245, 97);
    border: 2.5px solid black;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    cursor: pointer;
}


.deleteButton {
    width: 70px;
    height: 40px;
    background-color: rgb(245, 245, 97);
    border: 2.5px solid black;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    cursor: pointer;
}


.buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}